body {
    background-color: whitesmoke;
    margin: 0;
    width: 100%;
    background-image: url(https://www.wallpaperboulevard.com/Images/product/sand-drips-green-painted-dots-wallpaper-wmnp.jpg);
}

header {
    height: 120px;
    width: 100% !important;
    background: rgb(66, 97, 58);
    color: white;
    text-align: left;
    vertical-align: -50px !important;
    padding-top: 25px;
    padding-left: 30px;
    border-bottom: 3px solid rgb(52, 60, 54);
}

h1 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: 800;
}

#inputs {
    background-color:whitesmoke;
    border-radius: 20px;
    text-align: left;
}

td{ 
    padding-top: 10px;
}

.hoverTr:hover {
    background-color: lightgrey;
}

#deleteButton{
    justify-content: end !important;
}

.container {
    display: grid;
    width: 40%;
    height: 33rem;
    margin: 2rem 29vw;
    padding: 20px;
    grid-template-areas: "checkButton taskItem deleteButton";
    border: 1px solid black;
    background-color: whitesmoke;
    overflow-x: scroll;
}

.checkButton{
    margin: 0px 30px;
}

#deleteButton{
    margin-left: 150px;
}

#taskCategory{
    text-align: center;
}

#inputs {
    background-color: transparent;
}

#submitButton {
    background-color: rgba(103, 178, 84, 0.5) !important;
}